// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bigdrop{
  width: 200px !important;
  font-size: 110px !important;

}
.selectbox{
  float: right;
}
