// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Add{
  position: relative;
  bottom: 45px;
}
.brand{
  position: absolute;
  bottom: 50px;

}
.car{
  position: absolute;
  bottom: 2px;
}
.Addcar{
  position: relative;
  bottom: 45px;
}